html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --lightColor: #dbd8e3;
  --grayColor: #5c5470; 
  --lightBlack: #352f44;
  --darkBlack: #2a2438;
  --lightBlue: #3bb4f5; 
  --electricBlue: #0074b3; 
	--darkBlue: #24527a; 
	--darkGreen: #314340; 
	--white: #e0ebeb; 
  --blackBlue: #201a45; 
  --whiteBlue: #e3f6f5; 
  --cyan: #bae8e8; 
}
