.container {
  padding: 20px;
  display: flex;
}

.item {
  padding: 8px;
  cursor: pointer;
  margin: 6px;
  border: 1px solid var(--lightBlue);
  color: var(--lightBlue);
  border-radius: 6px;
}

.item:hover {
  border: 1px solid var(--electricBlue);
  color: var(--electricBlue);
}

.item__selected {
  padding: 8px;
  cursor: pointer;
  margin: 6px;
  border: 1px solid var(--electricBlue);
  color: var(--electricBlue);
  border-radius: 6px;
}

.item__selected:hover {
  color: var(--lightBlue);
  border: 1px solid var(--lightBlue);
}